import time
Python’un yerleşik modülüdür.
Zaman ölçmek için kullanılır.
Manuel ve NumPy hesaplamalarının ne kadar sürede çalıştığı ölçülür.

import numpy
NumPy, bilimsel hesaplamalar için kullanılan güçlü bir Python kütüphanesidir.
NumPy Fonksiyonu	Görevi
np.array()	Matrisleri tanımlar.
np.trace()	Matrisin köşegen elemanlarının toplamını (izini) bulur.
np.roots()	Polinomun köklerini (özdeğerleri) bulur.
np.eye(n)	n x n birim matris oluşturur.
np.abs()	Mutlak değer alır. Özvektör karşılaştırmasında kullanılır.
np.allclose()	İki dizinin yaklaşık eşitliğini kontrol eder.
np.sort()	Dizi sıralama işlemi için kullanılır.
np.zeros(n)	Sıfırlarla dolu vektör oluşturur.
np.column_stack()	Vektörleri sütun sütun birleştirir (özvektör matrisi yapar).